{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="display-4">Professional Bio</h1>
            <p class="lead text-muted">Blending biology with technology to solve complex research challenges.</p>
        </div>
        
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>
                    As a PhD-trained microbiologist with a passion for technology, I combine my deep understanding of biological systems with the power of programming to solve complex problems in scientific research. My research has focused on using bioinformatic tools to predict ligand-protein interaction (molecular docking), gene expression (RNASeq), and the application of cutting-edge techniques to unravel biological mysteries.
                </p>
                <p>
                    While python is my primary programming language, I am also proficient in using Linux command line and high-performance computing (HPC) resources, which I have leveraged to analyze large datasets and automate repetitive tasks. I have also used R in RNA-seq analysis, further strengthening my ability to work with diverse data and statistical tools in biology. 
                </p>
                <p>
                    I have honed my skills through online learning and hands-on projects, including machine-learning, data visulization, and web development. My technical toolkit extends beyond Python, encompassing a versatile mix of tools and methodologies that allow me to solve interdisciplinary problems with creativity and rigor.
                </p>
                <p>
                    By bridging my scientific expertise with programming and computational methods, I am committed to advancing research and developing solutions that have a meaningful impact in both the scientific community and beyond.
                </p>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="/projects" class="btn btn-primary btn-lg">Check Out My Projects</a>
        </div>
    </div>
{% endblock %}