{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    <div class="container py-5">
        <h1 class="mb-4">Projects</h1>
        <div class="row">
            <!-- Project 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">HPC-RNAseq-Pipeline</h5>
                        <p class="card-text">An automated RNA-seq analysis pipeline for High-Performance Computing (HPC).</p>
                        <a href="https://github.com/xybutzin/HPC-RNAseq-Pipeline" class="btn btn-dark" target="_blank">
                            View on GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}